body,
html {
  margin: 1rem 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #f0f2f5;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #06394d;
  padding: 2rem 5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  gap: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-top: 2rem;
  font-weight: 300;
}

.form-label {
  margin-bottom: 0.3125rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
}

.form-input {
  padding: 0.625rem;

  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border: 0.1875rem solid #08b0ca;
}

.form-button {
  padding: 0.75rem;

  font-weight: bold;
  background-color: #58c5d5;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

/* contact list styles */

.list-header {
  margin-top: 2rem;
  font-weight: 200;
}

.list-headers-left {
  display: flex;
  gap: 11rem;
}

.list-headers-right {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 200;
}

.list-input-header-group {
  width: 27.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 1.25rem;
  padding: 0.625rem 0;
  border-bottom: 0.125rem solid #ccc;
}

.contact-list-container {
  width: 100%;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0.625rem;
}

.list-input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.contact-list li {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
}

.list-buttons {
  display: flex;
  gap: 1rem;
}

.contact-list .edit,
.contact-list .delete {
  text-wrap: nowrap;
  background-color: #bf8508;
  border: none;
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

.contact-list .delete {
  background-color: #f85525;
}

.contact-list .edit:hover {
  background-color: #bf8508;
}

.contact-list .delete:hover {
  background-color: #c84922;
}

.contact-list input {
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.list-number-input {
  width: 6rem;
}

input:disabled {
  cursor: default;
  background-color: #06394d;
  color: white;
  border: none;
}

/* avatar styles */

.avatar-img {
  width: 6.25rem;
  height: 6.25rem;
}

.avatar-selection {
  display: flex;
  gap: 0.625rem;
}

.avatar {
  display: inline-block;
  padding: 0.625rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid transparent;
  transition: border-color 0.3s ease;
}

.avatar.selected {
  border-color: #28c70c;
}

.contact-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.625rem;
  object-fit: cover;
}
